@import url('https://fonts.googleapis.com/css?family=Actor|Istok+Web|Metrophobic');

.location-name {
  color: #FFFFFF;
  font-weight: bold;
  font-family: 'Istok Web';
  margin-top: 10px;
}

.textdesc {
font-family: 'Metrophobic';
font-size: 2vh;
display: flex;
align-items: center;
justify-content: center;
}

.cardStyle {
  background-color: #028090;
  text-align: center;
  color: #FFFFFF;
  height: 85vh;
}

.heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rootStyle {
  display: flex;
  justify-content: center;
  align-items: center;

}

.weatherInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weatherdesc {
  font-family: 'Metrophobic';
  font-size: 2vh;
}

.paraStyle {
  text-align: justify;
  font-size: 2vh;
  font-family: 'Metrophobic';
}

.footerStyle {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.weatherTextStyle {
  text-align: left;
}

.calendarIcon {
  font-size: 2em;
  margin-left: 20px;
  margin-right: 20px;
}

.thermoIcon {
  font-size: 2em;
  margin-right: 10px;
  margin-left: 4px;
}

.sunnyIcon {
  font-size: 2em;
  margin-right: 10px;
  margin-left: 4px;
}

.cityIcon {
  font-size: 3em;
  margin-left: 20px;
}

.windIcon {
  font-size: 2em;
  margin-right: 10px;
  margin-left: 20px;
}

.descriptionIconStyle {
  font-size: 2em;
  color: #FFFFFF;
}

.weatherIconStyle {
  color: #FFFFFF;
  font-size: 8em;
  margin-right: 35px;
}

.planetIcon {
  color: #FFFFFF;
  font-size: 3em;
  margin-left: 20px;
}

.moonIcon {
  color: #FFFFFF;
  font-size: 2em;
  margin-left: 20px;
}

.bortleStyle {
  border: solid;
  border-width: thin;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
}

.smileyIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;

}

.descriptionCard{
  overflow: scroll;
}
