.cardStyle {
  background-color: #58a4b0;
  text-align: center;
  color: #FFFFFF;
}

.heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rootStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.weatherInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paraStyle {
  text-align: justify;
}

.footerStyle {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.weatherTextStyle {
  text-align: left;
}

.descriptionIconStyle {
  font-size: 2em;
  color: #FFFFFF;
}

.weatherIconStyle {
  color: #FFFFFF;
  font-size: 8em;
  margin-right: 20px;
}

.bortleStyle {
  border: solid;
  border-width: thin;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
}
