.detailsRootStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.cardDetailsStyle {
  background-color: #58a4b0;
  text-align: center;
  color: #FFFFFF;
}

.headingDetailsStyle {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.detailsBodyStyle {
  text-align: left;
}

.detailsTextStyle {
  border-style: solid;
  border-color: #FFFFFF;
  border-width: thin;
  border-radius: 10px;
  padding: 10px;
}

.detailsIconStyle {
  font-size: 2em;
  color: #FFFFFF;
}

.backButtonStyle {
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.backButtonStyle:hover {
  color: #FFFFFF;
  border-color: #FFFFFF;
  background-color: transparent;
  opacity: 0.5;
}
