@import url('https://fonts.googleapis.com/css?family=Actor|Metrophobic');

.detailsRootStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}



.cardDetailsStyle {
  background-color: #028090;
  text-align: center;
  color: #FFFFFF;
}

.headingDetailsStyle {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.detailsBodyStyle {
  text-align: left;
}

.detailsTextStyle {
  border-style: solid;
  border-color: #FFFFFF;
  border-width: thin;
  border-radius: 10px;
  padding: 10px;
  font-family: 'Metrophobic';
}

.textDetails {
  font-family: 'Metrophobic';
  font-size: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detailsIconStyle {
  font-size: 2em;
  color: #FFFFFF;
}

.backButtonStyle {
  color: #FFFFFF;
  border-color: #FFFFFF;
  font-family: 'Actor';
}

.backButtonStyle:hover {
  color: #FFFFFF;
  border-color: #FFFFFF;
  background-color: transparent;
  opacity: 0.5;
}

.detailsFooterStyle {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.locationNameDetails {
  font-family: 'Actor';
  font-weight: bold;
  color: #FFFFFF;
}

.text {
  font-family: 'Actor';
}
