@import url('https://fonts.googleapis.com/css?family=Actor|Istok+Web|Metrophobic');

.detailsRootStyle {
  display: flex;
  justify-content: center;
  align-items: center;
}



.cardDetailsStyle {
  background-color: #028090;
  text-align: center;
  color: #FFFFFF;
  height: 85vh;
  margin-top: 13vh;
}

.headingDetailsStyle {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.detailsBodyStyle {
  text-align: left;
  overflow: scroll;
}

.detailsTextStyle {
  border-style: solid;
  border-color: #FFFFFF;
  border-width: thin;
  border-radius: 10px;
  padding: 10px;
  font-family: 'Metrophobic';
}

.textDetails {
  font-family: 'Metrophobic';
  font-size: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detailsIconStyle {
  font-size: 2em;
  color: #FFFFFF;
}

.backButtonStyle {
  color: #FFFFFF;
  border-color: #FFFFFF;
  font-family: 'Actor';
  padding: 5px;
}

.backButtonStyle:hover {
  color: #FFFFFF;
  border-color: #FFFFFF;
  background-color: transparent;
  opacity: 0.5;
}

.detailsFooterStyle {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.locationNameDetails {
  font-family: 'Istok Web';
  font-weight: bold;
  color: #FFFFFF;
  margin-top: 10px;
}

.text {
  font-family: 'Actor';
}

#tooltipTransparency{
  font-size: 20px;
}

#tooltipSkyQualityMeter{
  font-size: 20px;
}

#tooltipBortleScale{
  font-size: 20px;
}

#tooltipLightPollution{
  font-size: 20px;
}

#tooltipSeeing{
  font-size: 20px;
}
