@import url('https://fonts.googleapis.com/css?family=Actor');

#wrapper {
  position: relative;
}

#overMap {
  position: absolute; z-index: 2;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.signInLink{
  margin-left: 20px;
  margin-right: 20px
}

.favorisLink{
  margin-left: 20px;
}

.signUpLink{

}

.homeLink{

}

.navBar {
  opacity: 0.5;
}

h4 {
  font-family: 'Actor';
}

.text {
  font-family: 'Actor';
}

p {
  font-family: 'Actor';
}


.btn-Home-Sign1{
  background-color: hsla(360, 100%, 100%, 0.1);
  border-color: #FFFFFF;
  color: #FFFFFF;
}

.btn-Home-Sign1:hover{
  background-color: transparent;
  border-color: #FFFFFF;
  color: #FFFFFF;
  opacity: 0.7;
}
