.background {
  background-image: url("../images/starry-night.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  color: white;
  font-family: Helvetica;
}

.form {
  display: flex;
  flex-direction:column;

}

#username {
  margin-top: 65px;
  width: 40vh;
  font-family: Helvetica;
}

#email {
  margin-top: 25px;
  width: 40vh;
  font-family: Helvetica;
}

#password {
  margin-bottom: 35px;
  margin-top: 20px;
  width: 40vh;
  font-family: Helvetica;
}
/*
.cancelbutton {
  background-color: hsla(0, 100%, 0%, .4);
  border-color: #FFFFFF;
  color: #FFFFFF;
  font-family: Open Sans;
  font-weight: bold;
  border-radius: 10px;
} */

.btn-Home-Sign1{
  background-color: hsla(360, 100%, 100%, 0.1);
  border-color: #FFFFFF;
  color: #FFFFFF;
  margin-right: 20px;
}


.cancelbutton:hover{
  background-color: transparent;
  border-color: #FFFFFF;
  color: #FFFFFF;
  opacity: 0.9;
}

.submit {
background-color: hsla(0, 100%, 0%, .4);
border-color: #FFFFFF;
color: #FFFFFF;
font-family: Open Sans;
font-weight: bold;
border-radius: 10px;
}

.btn-Home-Sign1:hover{
  background-color: transparent;
  border-color: #FFFFFF;
  color: #FFFFFF;
  opacity: 0.7;

}

.submit:hover{
  background-color: transparent;
  border-color: #FFFFFF;
  color: #FFFFFF;
  opacity: 0.9;
}
